h1 {
    text-align: center;
    margin: 20px auto;
}

.chat-container {
    width: 100%;
}

.chat {
    width: 80%;
    height: 400px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    margin: 0 auto;
    background-color: #691a99;
    padding-top: 5px;
}

.messages-container {
    height: 339px;
    width: calc(100% - 10px);
    /* background-color: #9b26af; */
    background-color: #f3f3f3;
    margin: 5px;
    margin-top: 0;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
}

form, form > input {
    width: 100%;
}

form {
    background-color: #f3f3f5;
    border: 5px solid #691a99;
    border-top: 0;
    border-right: 0;
    width: calc(100% - 52px);
    display: inline-block;
    vertical-align: top;
}

input {
    margin-bottom: 0;
}

.members-list {
    display: inline-block;
    height: 390px;
    margin-bottom: 10px;
    margin-left: -3px;
    width: calc(30% - 5px);
    background-color: #f3f3f5;
}

.messaging-container {
    display: inline-block;
    width: 70%;
    vertical-align: bottom;
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.message {
    padding: 10px 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    display: block;
    background-color: white;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.075);
}

.emoji-btn > img:hover {
    cursor: pointer;
}

.emoji-container {
    height: 85px;
    width: 200px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    margin-left: calc(70% - 52px);
    margin-top: -142px;
    margin-bottom: 20px;
    padding: 5px;
    display: none;
    background-color: white;
}

.emoji {
    display: inline-block;
    margin-left: 5px;
    height: 35px;
    width: 35px;
}

.member {
    text-align: center;
    padding: 5px;
    margin: 10px 5px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.125);
    background-color: white;
}

.chat-heading {
    font-size: 1.5em;
    text-align: center;
    background-color: #9b26af;
    display: block;
    margin: 0;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.chat-heading h4  {
    margin: 0;
    color: white;
}

.add-member {
    text-align: center;
}

.add-member img {
    vertical-align: middle;
}

.add-member > *:hover {
    cursor: pointer;
}

.add-member-popup {
    background-color: white;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    margin: 5px;
    padding: 5px;
    visibility: hidden;
}