<h1>Group Chat</h1>
<div class="chat-container">
    <div class="chat">
        <div ng-app="chat">
            <div class="messaging-container"> 
                <div class="messages-container">
                    <div class="message" *ngFor="let message of messages">
                        <span class="bold">{{message.user}}:</span>
                        <span>{{message.data}}</span>
                        <br />
                    </div>
                </div>
                <form (keydown.enter)="send()">
                    <input [(ngModel)]="messageSent.data" [ngModelOptions]="{standalone: true}">
                </form>
                <span class="emoji-btn" onclick="var d = document.getElementsByClassName('emoji-container')[0].style.display; if (d == 'none') { document.getElementsByClassName('emoji-container')[0].style.display = 'block'; } else { document.getElementsByClassName('emoji-container')[0].style.display = 'none'; }"><img src="../../assets/smile.svg" width="43" height="43" /></span>
            </div>
            <div class="members-list">
                <div class="chat-heading">
                    <h4>Members</h4>
                </div>
                <div class="member">
                    user@gmail.com
                </div>
                <div class="member">
                    another@gmail.com
                </div>
                <div class="add-member" onclick="if (document.getElementsByClassName('add-member-popup')[0].style.visibility == 'visible') { document.getElementsByClassName('add-member-popup')[0].style.visibility = 'hidden' } else { document.getElementsByClassName('add-member-popup')[0].style.visibility = 'visible' }">
                    <img src="../../assets/ic_add_circle_black_24px.svg" width="20" height="20" /><span> add new member</span>
                </div>
                <div class="add-member-popup">
                    <label>Email:</label>
                    <input type="text" />
                    <button onclick="document.getElementsByClassName('add-member-popup')[0].style.visibility = 'hidden'">Send invitation</button>
                </div>
            </div>
            <div class="emoji-container">
                <span  *ngFor="let emoji of emojis" class="emoji" [ngStyle]="{'background-image': emoji.imagesrc}"></span>
            </div>
        </div>
    </div>
</div>
