header, footer {
    height: 30px;
    width: 100%;
    background: grey;
    background: -webkit-linear-gradient(bottom, black, grey);
    background: -o-linear-gradient(bottom, black, grey);
    background: -moz-linear-gradient(bottom, black, grey);
    background: linear-gradient(to top, black, grey);
}

header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

main {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
}

footer {
    margin-bottom: 0;
    padding: 5px 30px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

footer a, footer p {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

footer a:hover {
    color: rgba(255, 255, 255, .9);
    transition-duration: .5s;
}

nav > span {
    color: rgba(255, 255, 255, .7);
}

nav > span:active {
    color: rgba(255, 255, 255, .9);
}

nav > span:hover {
    cursor: pointer;
}

nav > .menu {
    visibility: hidden;
    position: fixed;
    top: 30px;
    left: 0;
    background-color: #f3f3f5;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
}

nav > .menu a {
    color: rgba(0, 0, 0, .7) !important;
    text-shadow: none;
}

nav > .menu a:hover {
    color: rgba(0, 0, 0, .9) !important;
}

header p {
    margin: 0;
}

header > * {
    display: inline-block;
    color: rgba(255, 255, 255, .7);
}

header > nav, header > span {
    width: calc((100% - 85px) / 2)
}

header > span > * {
    float: right;
}

header > p {
    font-weight: bold;
}