<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav>
        <div class="menu-btn" onclick="var a = document.getElementsByClassName('menu')[0].style.visibility;

        if (a == 'visible') {
            document.getElementsByClassName('menu')[0].style.visibility = 'hidden';
        } else {
            document.getElementsByClassName('menu')[0].style.visibility = 'visible';
        }">
            <span><img src="../assets/bars.svg" height="20" width="20" />Menu</span>
        </div>
        <div class="menu">
            <a routerLink="/calendar" onclick="document.getElementsByClassName('menu')[0].style.visibility = 'hidden';">
                <div class="menu-item">Calendar</div>
            </a>
            <a routerLink="/day" onclick="document.getElementsByClassName('menu')[0].style.visibility = 'hidden';">
                <div class="menu-item">Task list - Today</div>
            </a>
            <a routerLink="/chat" onclick="document.getElementsByClassName('menu')[0].style.visibility = 'hidden';">
                <div class="menu-item">Group</div>
            </a>
            <a routerLink="/shop" onclick="document.getElementsByClassName('menu')[0].style.visibility = 'hidden';">
                <div class="menu-item">Shop</div>
            </a>
            <a routerLink="/login" onclick="document.getElementsByClassName('menu')[0].style.visibility = 'hidden';">
                <div class="menu-item">Sign out</div>
            </a>
        </div>
    </nav>
    <p>GamePlan</p>

    <span>
        <a routerLink="/login">Sign out<img src="../assets/sign-out.svg" width="20" height="20" /></a>
        <span class="gold"><img src="../assets/coin.png" width="10" height="10" /> 21</span>
        <p style="display: inline-block">Welcome User!</p>
    </span>

</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="float-left">
        <p>&copy; GamePlan Team, 2017</p>
    </div>
    <div class="float-right">
        <a href="mailto:gameplanteam@gmail.com?Subject=GamePlan" target="_top">Email us<img src="../assets/envelope.svg" height="20" width="20" /></a>
    </div>
</footer>
