header, footer {
    height: 30px;
    width: 100%;
    background: grey;
    background: -webkit-linear-gradient(bottom, black, grey);
    background: -o-linear-gradient(bottom, black, grey);
    background: -moz-linear-gradient(bottom, black, grey);
    background: linear-gradient(to top, black, grey);
}

main {
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
    overflow-x: hidden;
}

footer {
    margin-bottom: 0;
    padding: 5px 30px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

footer a, footer p {
    color: white;
}