h1, h3 {
    text-align: center;
    margin: 20px auto;
}

.shop-container {
    width: 80%;
    margin: 10px auto;
}

.shop-department {
    display: inline-block;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    height: 300px;
    width: 45%;
    float: left;
}

.shop-department:nth-child(2) {
    float: right;
}