h1, h3 {
    text-align: center;
    margin: 20px auto;
}

.shop-container {
    width: 80%;
    margin: 10px auto;
}

.shop-department {
    display: inline-block;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    height: 450px;
    width: 45%;
    float: left;
    border: 5px solid #009688;
}

.shop-department:nth-child(2) {
    float: right;
}

.shop-department > h3 {
    margin: 10px auto;
}

.shop-department > .products-container {
    height: calc(100% - 42px);
    border-top: 1px solid #ddd;
}

h3 {
    font-size: 1.8em;
    margin: 0 auto !important;
    padding: 10px;
    background-color: #009688;
    color: white;
}

.product {
    display: inline-block;
    width: calc(50% - 15px);
    height: calc(50% - 38px);
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    margin-bottom: 5px;
}

.product > li {
    height: 100%;
    background-repeat: repeat;
}

.product .buy-btn {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background-color: rgba(255, 255, 255, .7);
    margin-top: 124px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    transition-duration: .5s;
}

.product .buy-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .8);
}

.product .buy-btn > span {
    margin-left: 10px;
}

.product .buy-btn > span img {
    vertical-align: sub;
}

.emoji > li {
    background-repeat: no-repeat !important;
    background-position: center;
}

.has-text-centered {
    text-align: center;
    background-color: #009688 !important;
}

.has-text-centered ul.ngx-pagination {
    margin-bottom: 0;
}