<div class="login-page">
  <h1><i>Gamify your everyday tasks!</i></h1>
  <div class="form">
    <form class="register-form">
      <h2>Register</h2>
      <input class="finput" type="text" placeholder="username" />
      <input class="finput" type="password" placeholder="password" />
      <input class="finput" type="email" placeholder="email id" />
      <input onclick="location.href='/login'; document.getElementsByClassName('menu')[0].style.visibility = 'hidden';
                  document.getElementsByClassName('signin')[0].style.visibility = 'hidden';
                  document.getElementsByTagName('nav')[0].style.visibility = 'hidden'" type="submit" class="btnin" value="Create" />
      <p class="message">
        Already Registered? <a routerLink="/login" href="#">Log in</a>
      </p>
    </form>
  </div>
</div>